body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; background:#ddd;}

.map {
    width: 100%;
   height: 100%;
    }
    .selectStyle {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background-color: #fff;
    padding: 10px;
    }
.left-panel{
    position: absolute;
    width: 300px;
    height: calc(100vh - 5rem);
    left: 0.5rem;
    top: 4rem;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
}
.right-panel-background{
  
    position: absolute;
    width: 300px;
    height: 36px;
    right: 1rem;
    top: 7rem;
   border-radius: 5px;
    z-index: 10;
    background-color: white;
}
.right-panel-raster{
    position: absolute;
    width: 300px;
    height: 36px;
   
    top: 3rem;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
}
.btn-open-leftpanel {
    width: 40px;
    height: 40px;
    background-color: #fff;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    position: absolute;
    z-index: 9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.displayMeasure {
    background-color: #fff;
    right: 150px;
    top: 100px;
    position: absolute;
    z-index: 3;
    user-select: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%) !important;
    padding: 0.5rem 0;
    border-radius: 5px;
    display: none;
    }
     
    .labelMeasure {
    float: left;
    padding-left: 15px;
    font-size: 17px;
    padding-top: 6px;
    }
     
    .contentMeasure {
    display: inline-block;
    padding: 6px 5px 0px 10px;
    font-size: 15px;
    }
    .btn-open-leftpanel {
        width: 40px;
        height: 40px;
        background-color: #fff;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        position: absolute;
        z-index: 9;
        border-radius: 5px;
        display: none;
        align-items: center;
        justify-content: center;}
       .btn-open-rightpanel{
        width: 40px;
        height: 40px;
        background-color: #fff;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        position: absolute;
        z-index: 9;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
       }
.wrraper {
    width: 312px;
    height: 700px;;   
    background-color: #fff;
    left:0.7rem;
    top: 100px;
    position: absolute;
    z-index: 3;
    
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%) !important;
   
    border-radius: 5px;
   
   
}